body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Montserrat", sans-serif;
}

#tech-name {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
}

#home {
  background-image: url("assets/svg-bg/subtle-prism.svg");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.intro-section {
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem 5rem;
  width: 850px;
  margin: auto;
  height: fit-content;
}

.desc {
  font-size: 20px;
  font-weight: 400;
}

.project-btn-link {
  display: block;
  background-color: #344e65;
  padding: 1rem 2rem;
  text-decoration: none;
  margin: auto;
  margin-top: 3rem;
  width: fit-content;
  border-radius: 5px;
  border: 1px solid black;
  color: #fff !important;
}
.project-btn-link:hover {
  background-color: #344e65;
  box-shadow: 0 0.5em 0.5em -0.4em rgb(12, 17, 20);
  transform: translateY(-0.15em);
}

.about-text {
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  padding: 0 5rem;
  background-color: #6c757d;
  width: fit-content;
  margin: auto;
  margin-top: -2rem;
  color: #fff;
}

.sub-head {
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  padding: 0 5rem;
  background-color: #6c757d;
  width: fit-content;
  margin: auto;
  color: white;
}

.projects {
  margin-top: 3rem;
}

.project-pics {
  width: 100%;
  padding: 0 5rem;
  height: 60vh;
}

.infor-about {
  font-size: 20px;
  font-weight: 400;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  background: #000;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  list-style: none;
}

@media (max-width: 768px) {
  .intro-section {
    clip-path: none;
    width: 97%;
    padding: 0.5rem;
  }
  .infor-about {
    padding-left: 1rem;
  }
  .skill {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 0 1rem 1rem 0;
  }
  .project-pics {
    padding: 0 1.5rem;
  }
  .project-title {
    padding-top: 0 !important;
  }
  .projects p {
    padding: 1.5rem !important;
  }
  #my-name {
    padding-left: 1rem;
  }
  .socials {
    padding-top: 3rem;
  }
}

footer {
  background-color: #000;
  color: #fff;
}

#my-name {
  padding: 2rem;
  font-weight: 900;
}
small {
  width: fit-content;
}

.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icons {
  /* display: inline-block;
  display: flex;
  align-items: center; */
  /* justify-content: space-around color; */
  color: white;
}
